@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --color-primario: #30323D;
    --color-secundario: #E8C547;
    --third-color: #e9f4fb;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--color-primario);
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: var(--third-color);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 360px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
}

.center h1 {
    text-align: center;
    padding: 0 0 20px;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.field label {
    position: absolute;
    top: 50%;
    left: 5%;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.field span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--color-secundario);
    transition: 0.5s;
}

.field input:focus~label,
.field input:valid~label {
    top: -5%;
    color: var(--color-secundario);
}

.field input:focus~span::before,
.field input:valid~span::before {
    width: 100%;
}

.btn-login {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: var(--color-secundario);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn-login:hover {
    border-color: var(--color-secundario);
    transition: 0.5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a {
    color: var(--color-secundario);
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}